/* ===== MEDIA QUARIES ===== */

/* Under 768px */
@media (max-width: 48em) {
  .stats-grid {
    grid-template-columns: 1fr;
  }
  .hero {
    padding: 60px 0 50px;
  }
  .hero h1 {
    letter-spacing: -1px;
  }
  .nav-links {
    display: none;
  }
  .score-value {
    font-size: 60px;
  }
}

/* 960px */
@media (max-width: 60em) {
  .features-grid {
    grid-template-columns: 1fr !important;
  }

  .dashboard-grid {
    grid-template-columns: 1fr;
  }

  .feature-card {
    max-width: 500px;
    justify-self: center;
    transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  /* Animation Ending State */
  .features-grid.show #card-1,
  .features-grid.show #card-2,
  .features-grid.show #card-3 {
    opacity: 1;
    transform: translateX(0);
  }

  /* Staggering Delay */
  .features-grid.show #card-1 {
    transition-delay: 0.1s;
  }
  .features-grid.show #card-2 {
    transition-delay: 0.5s;
  }
  .features-grid.show #card-3 {
    transition-delay: 1s;
  }

  #card-1,
  #card-3 {
    transform: translateX(-150px) scale(0.95);
    opacity: 0;
  }

  #card-2 {
    transform: translateX(150px) scale(0.95);
    opacity: 0;
  }

  .features-grid.show .feature-card {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
